@charset "UTF-8";
* {
  box-sizing: border-box;
}

/* ////////////////////          @mixin                   ////////////////////////// */
/* 280, 320, 540px, 768px, 992px, 1200px */
/* ////////////////////          FONTS                   ////////////////////////// */
:root {
  --font-family: "Cera Pro", sans-serif;
  --second-family: "hanging_lettersregular", sans-serif;
}

@font-face {
  font-family: 'hanging_lettersregular';
  src: url("../fonts/hanged_letters-webfont.eot");
  src: url("../fonts/hanged_letters-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/hanged_letters-webfont.woff2") format("woff2"), url("../fonts/hanged_letters-webfont.woff") format("woff"), url("../fonts/hanged_letters-webfont.ttf") format("truetype"), url("../fonts/hanged_letters-webfont.svg#hanging_lettersregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Regular.eot");
  src: local("Cera Pro Regular"), local("CeraPro-Regular"), url("../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Regular.woff") format("woff"), url("../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 400;
  /* normal,regular,400 */
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Bold.eot");
  src: local("Cera Pro Bold"), local("CeraPro-Bold"), url("../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Bold.woff") format("woff"), url("../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: 700;
  /* bold */
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Medium.eot");
  src: local("Cera Pro Medium"), local("CeraPro-Medium"), url("../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Medium.woff") format("woff"), url("../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Black.eot");
  src: local("Cera Pro Black"), local("CeraPro-Black"), url("../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Black.woff") format("woff"), url("../fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  /* black */
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url("../fonts/CeraPro-Light.eot");
  src: local("Cera Pro Light"), local("CeraPro-Light"), url("../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CeraPro-Light.woff") format("woff"), url("../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  /* Light */
  font-style: normal;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.d-flex {
  display: flex;
}

.align-items_center {
  align-items: center;
}

.align-items_start {
  align-items: flex-start;
}

.justify-content_center {
  justify-content: center;
}

.justify-content_sp-bn {
  justify-content: space-between;
}

.justify-content_sp-evenly {
  justify-content: space-evenly;
}

.justify-content_sp-around {
  justify-content: space-around;
}

.justify-content_flex-start {
  justify-content: flex-start;
}

.justify-content_and {
  justify-content: flex-end;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

/* //////////////////////    section-header    //////////////////////////////////////////////////////////////// */
.container {
  max-width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1248px) {
  .container {
    max-width: calc(100vw - 48px);
  }
}

header {
  padding-top: 25px;
}

@media screen and (max-width: 992px) {
  .container.section-header {
    max-width: calc(100vw - 48px);
    justify-content: flex-start;
  }
}

.section-header {
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
  margin-bottom: 12px;
  min-height: 53px;
  /* //////////////////// dropdown v1 /////////// */
  /* //////////////////// finish dropdown v1 /////////// */
}

.section-header .menu-button {
  position: relative;
  top: 0px;
  right: 0px;
  border: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
}

.section-header .menu-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../icons/hamburger_closed.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2rem 2rem;
  pointer-events: none;
  text-indent: 0;
}

.section-header .menu.is-open .topmenu {
  display: block;
}

.section-header .menu.is-open .menu-button::after {
  background-image: url("../icons/hamburger_active.svg");
}

.section-header nav {
  z-index: 1;
}

.section-header nav .menu-button {
  display: none;
}

@media screen and (max-width: 992px) {
  .section-header nav {
    order: -1;
  }
  .section-header nav .menu-button {
    display: inline-block;
    margin-right: 24px;
  }
}

@media screen and (max-width: 992px) {
  .section-header nav .topmenu {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    /* border: 1px solid #6460e0; */
    min-width: 50vw;
    background: #edf6ee;
    box-shadow: 0px 0px 3px 3px rgba(237, 246, 238, 0.8);
  }
}

.section-header nav ul {
  list-style-type: none;
}

.section-header nav ul li a {
  font-family: var(--font-family, sans-serif);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
}

.section-header nav ul li a:hover {
  font-weight: 700;
}

.section-header nav ul li:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 992px) {
  .section-header nav ul li.dropdown > a::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url("../icons/Arrow-Mobile-Right.svg");
    background-repeat: no-repeat;
    margin-left: 4px;
  }
}

@media screen and (max-width: 992px) {
  .section-header nav ul li.dropdown > a:hover:after {
    background-image: url("../icons/Arrow-Mobile-Down.svg");
  }
}

@media screen and (max-width: 992px) {
  .section-header nav > ul {
    padding: 24px 0 0 24px;
  }
}

.section-header nav > ul > li {
  display: inline-block;
  margin-right: 10px;
  min-width: 80px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .section-header nav > ul > li {
    display: block;
    margin-right: 0px;
    text-align: left;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 993px) {
  .section-header nav > ul > li::after {
    display: block;
    width: 100%;
    height: 3px;
    content: "";
  }
}

@media screen and (min-width: 993px) {
  .section-header nav > ul > li:hover::after {
    background-color: #46a358;
    font-weight: 700;
  }
}

.section-header .submenu {
  min-width: 188px;
  text-align: left;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: transform .4s linear;
  padding-top: 32px;
  padding-left: 2px;
}

@media screen and (max-width: 992px) {
  .section-header .submenu li.d-flex.align-items_center.justify-content_sp-bn {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
}

@media screen and (min-width: 993px) {
  .section-header .submenu {
    position: absolute;
    left: -45px;
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .section-header .submenu {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .section-header .submenu {
    padding-top: 16px;
  }
}

.section-header .submenu .submenu {
  min-width: 178px;
  /* position: absolute; */
  transition: transform .4s linear;
}

@media screen and (min-width: 993px) {
  .section-header .submenu .submenu {
    position: absolute;
    top: -400%;
    left: 100%;
  }
}

@media screen and (max-width: 992px) {
  .section-header .submenu .submenu {
    top: 0px;
    left: 0px;
  }
}

.section-header .submenu li {
  background: #edf6ee;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #3d3d3d;
  text-align: left;
  padding: 7px 14px;
}

@media screen and (max-width: 992px) {
  .section-header .submenu li .submenu-arrow-right-svg {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .section-header .submenu li:hover {
    background: #1a712a;
  }
}

.section-header .submenu li:hover .submenu-arrow-right-svg {
  transform: rotate(180deg);
  fill: #fff;
}

.section-header .submenu li:hover .submenu-arrow-right-svg path {
  fill: #fff;
}

.section-header .submenu li:hover > a {
  /* сработает  первого уровня вложености */
  font-weight: 700;
}

@media screen and (min-width: 993px) {
  .section-header .submenu li:hover > a {
    color: white;
  }
}

.section-header .topmenu li {
  position: relative;
}

.section-header .topmenu li:hover > .submenu {
  /* сработает первое сабменю первого уровня вложености */
  transform: rotateX(0deg);
}

@media screen and (min-width: 993px) {
  .section-header .topmenu li:hover > .submenu {
    visibility: visible;
    opacity: 0.88;
  }
}

@media screen and (max-width: 992px) {
  .section-header .topmenu li:hover > .submenu {
    display: block;
  }
}

.section-header__login {
  font-family: var(--font-family, sans-serif);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  gap: 4px;
  border-radius: 6px;
  background: #46a358;
  padding: 8px 17px;
}

@media screen and (max-width: 992px) {
  .section-header__login {
    margin-left: auto;
  }
}

/*///////// dropdown v2 /////////////////////*/
/* .section-header nav ul li.dropdown{
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-align: left;
}
.section-header nav ul li ul.submenu li{
    background: #edf6ee;
    padding: 7px 14px;
}
.section-header nav ul li ul.submenu li:hover{
    background: #1a712a;
}
.section-header nav ul li ul.submenu li:hover  a{
    font-weight: 700;
    color:white;
}
.section-header nav ul li ul.submenu{
    min-width: 188px;
    position: absolute;
    top:49px;
    left: -55px; 
    overflow: hidden;
    height: 0;
    transition: 0.4s;
}
.section-header nav ul li.dropdown:hover .submenu{
    height: 143px;
}
 */
/* //////////////////////    section-main-banner    //////////////////////////////////////////////////////////////// */
/* ////////////////////          @mixin                   ////////////////////////// */
/* 280, 320, 540px, 768px, 992px, 1200px */
/* //////////////////////    section-main-banner    //////////////////////////////////////////////////////////////// */
.section-main-banner {
  background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
  margin-bottom: 26px;
}

@media screen and (max-width: 992px) {
  .section-main-banner {
    max-width: 100%;
  }
}

@media screen and (min-width: 993px) {
  .section-main-banner {
    flex-wrap: nowrap;
  }
}

.section-main-banner__left-text {
  flex: 1 1 50%;
}

@media screen and (min-width: 993px) {
  .section-main-banner__left-text {
    padding: 0px 0 0 43px;
  }
}

@media screen and (max-width: 992px) {
  .section-main-banner__left-text {
    padding: 0px 0 0 92px;
  }
}

.section-main-banner__right-picture {
  flex: 1 1 50%;
}

.section-main-banner__h3 {
  font-family: var(--font-family, sans-serif);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 7px;
}

@media screen and (max-width: 992px) {
  .section-main-banner__h3 {
    line-height: 130%;
  }
}

.section-main-banner__h1 {
  font-family: var(--font-family, sans-serif);
  font-family: 'Cera Pro';
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 5px;
}

@media screen and (max-width: 1193px) {
  .section-main-banner__h1 {
    font-size: 66px;
  }
}

@media screen and (max-width: 1133px) {
  .section-main-banner__h1 {
    font-size: 52px;
  }
}

@media screen and (max-width: 998px) {
  .section-main-banner__h1 {
    font-size: 42px;
  }
}

.section-main-banner__span {
  font-family: var(--font-family, sans-serif);
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #46a358;
}

@media screen and (max-width: 1193px) {
  .section-main-banner__span {
    font-size: 66px;
  }
}

@media screen and (max-width: 1133px) {
  .section-main-banner__span {
    font-size: 52px;
  }
}

@media screen and (max-width: 998px) {
  .section-main-banner__span {
    font-size: 42px;
  }
}

.section-main-banner__p {
  font-family: var(--font-family, sans-serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
}

@media screen and (max-width: 1193px) {
  .section-main-banner__p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 992px) {
  .section-main-banner__p {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 20px;
  }
}

.section-main-banner__shop-now {
  font-family: var(--font-family, sans-serif);
  display: inline;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  background: #46a358;
  text-decoration: none;
  margin-bottom: 85px;
  padding: 10px 27px;
}

/* //////////////////////    section-product    //////////////////////////////////////////////////////////////// */
.section-product {
  margin-bottom: 146px;
  /* 
    &__left-container {
        max-width: 310px;
    }

    &__right-container {
        max-width: 840px;
    } */
}

/* ///////////////     section-product__short-by        /////////////////////// */
/* .section-product__container-categories-sale-baner {
    display: none;
} */
.section-product__short-by {
  align-items: center;
  margin-bottom: 31px;
  flex-basis: 100%;
  order: 0;
}

.section-product__short-by .button-short-by {
  display: none;
}

@media screen and (max-width: 992px) {
  .section-product__short-by .button-short-by {
    display: inline-block;
    margin-right: 24px;
  }
}

.section-product__short-by .button-short-by {
  position: relative;
  top: 0px;
  right: 0px;
  border: 0;
  border-radius: 3px;
  background-color: #fbfbfb;
  min-width: 152px;
  min-height: 40px;
  /* text-indent: 5em; //отступ в начале строки чтоб не видно текста
        white-space: nowrap; //строка внутри не переносится
        overflow: hidden; //обрезает текст вокруг кнопки */
}

.section-product__short-by .button-short-by::after {
  content: "";
  position: absolute;
  top: 0;
  left: -42px;
  width: 100%;
  height: 100%;
  background-image: url("../icons/filter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  pointer-events: none;
  text-indent: 0;
}

.section-product__short-by-ul ul {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
}

.section-product__short-by-ul ul li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 107%;
  color: #3d3d3d;
  margin-right: 37px;
  min-width: 90px;
  min-height: 26px;
}

.section-product__short-by-ul ul li:hover {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
  color: #46a358;
  padding-bottom: 7px;
}

.section-product__short-by-ul > ul > li:first-child::after {
  display: block;
  width: 66px;
  height: 3px;
  content: "";
}

.section-product__short-by-ul > ul > li:nth-child(2)::after {
  display: block;
  width: 90px;
  height: 3px;
  content: "";
}

.section-product__short-by-ul > ul > li:nth-child(3)::after {
  display: block;
  width: 30px;
  height: 3px;
  content: "";
}

.section-product__short-by-ul > ul > li:hover::after {
  background-color: #46a358;
  font-weight: 700;
}

.section-product__short-by-p p {
  display: inline-block;
  margin-right: 8px;
}

.section-product__short-by-p p:last-child {
  position: relative;
  padding-right: 5px;
}

.section-product__short-by-p p:last-child::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%) rotate(45deg);
  border-top-color: #000;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #3d3d3d;
  padding: 2px;
}

/* ///////////////    section-product__categories     //////// */
@media screen and (max-width: 992px) {
  .section-product__container-categories-sale-baner {
    display: none;
  }
}

.section-product__container-categories-sale-baner.is-open {
  display: block;
}

.section-product__container-categories-sale-baner {
  flex-basis: 20%;
  order: 1;
}

@media screen and (max-width: 1034px) {
  .section-product__container-categories-sale-baner {
    flex-basis: 25%;
  }
}

.section-product__categories {
  /* max-width: 310px; */
  /* min-height: 774px; */
  background: #fbfbfb;
  padding: 14px 24px 19px 18px;
}

.section-product__categories h2 {
  font-family: var(--font-family, sans-serif);
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
}

.section-product__categories li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 267%;
  color: #3d3d3d;
  text-decoration: none;
}

.section-product__categories li a:hover {
  font-weight: 700;
  color: #46a358;
}

.section-product__categories ul:first-of-type {
  margin-bottom: 36px;
}

.section-product__categories ul:last-of-type {
  margin-bottom: 19px;
}

.section-product__categories-range {
  margin-bottom: 46px;
}

.section-product__categories-range-price {
  margin-bottom: 16px;
}

.section-product__categories-range-price span {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  line-height: 107%;
  color: #46a358;
}

.section-product__categories-range-price span.section-product__categories-range-price-span {
  font-weight: 400;
  color: #3d3d3d;
}

.section-product__categories-range h2 {
  margin-bottom: 20px;
}

.section-product__categories-range a {
  font-family: var(--font-family, sans-serif);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  border-radius: 6px;
  background: #46a358;
  text-decoration: none;
  padding: 8px 26px;
}

.slider-snap__conteiner {
  margin-bottom: 25px;
  max-width: 209px;
}

/* ///////////////     sale-baner        /////// */
.section-product__sale-baner {
  min-height: 470px;
  background: linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%), url(../img/image-sale.png) no-repeat;
  background-position: center bottom;
  padding-top: 10px;
  text-align: center;
}

.section-product__h2-sale {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 65px;
  line-height: 100%;
  color: #46a358;
  margin-bottom: 15px;
}

.section-product__span-price-sale {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 23px;
  line-height: 70%;
  color: #3d3d3d;
}

/* ///////////////////////////   conteiner-product-cards    ////////////////////////////////// */
.slick-prev:before {
  font-size: 40px;
  color: #60e077;
}

.slick-prev {
  left: 30px;
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-next:before {
  font-size: 40px;
  color: #60e077;
}

.slick-next {
  right: 30px;
  z-index: 1;
  width: 40px;
  height: 40px;
}

.slick-dots {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  text-align: center;
}

.slick-dots li {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li button {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.slick-dots li button:hover {
  background: #46a358;
  color: white;
}

.slick-dots li.slick-active button {
  background: #46a358;
  color: white;
}

.section-product__conteiner-product-cards {
  margin-bottom: 90px;
  max-width: 80%;
  /* flex-basis: 80%; */
  order: 2;
}

.section-product__conteiner-product-cards .section-product__slick-slider {
  max-width: 100%;
}

@media screen and (max-width: 1034px) {
  .section-product__conteiner-product-cards {
    /* flex-basis: 75%; */
    max-width: 75%;
  }
}

@media screen and (max-width: 992px) {
  .section-product__conteiner-product-cards {
    /* flex-basis: 100%; */
    max-width: 100%;
  }
}

.section-product__conteiner-product-cards.is-open {
  /* flex-basis: 75%; */
  max-width: 75%;
}

.section-product__card {
  position: relative;
  overflow: hidden;
}

.section-product__card ul {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 26px;
  bottom: -35px;
  transition: bottom 0.5s;
}

.section-product__card ul li a:hover svg path {
  fill: #46A358;
}

.section-product__card:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #46a358;
  top: 0px;
  right: 0px;
}

.section-product__card:hover ul {
  bottom: 50px;
}

.section-product__card-img {
  /* min-width: 258px; */
  min-height: 300px;
  background: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.section-product__discount {
  position: absolute;
  top: 14px;
  left: 0;
  display: inline-flex;
  background-color: #46a358;
  min-width: 80px;
  min-height: 29px;
  justify-content: center;
  align-items: center;
}

.section-product__discount-h2 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}

.section-product__card-a-img img {
  width: 100%;
}

.section-product__card-price-a {
  text-decoration: none;
}

.section-product__card-span-name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #3d3d3d;
  display: block;
  margin-bottom: 6px;
}

.section-product__card-span-price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #46a358;
  margin-right: 16px;
}

.section-product__card-span-price-old {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  color: #a5a5a5;
  text-decoration: line-through;
}

/* ///////////////////////////////// pagination //////////////////////////////// */
/* .section-product__pagination {
    margin-right: 30px;

    flex-basis: 100%;
    order: 3;
}

.section-product__pagination-nav li {
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        min-width: 35px;
        min-height: 35px;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 18px;
        line-height: 89%;
        color: #3d3d3d;

    }

    a:hover {
        background: #46a358;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 89%;
        color: #fff;
    }

} */
/* //////////////////////////////// section-information ///////////////////////////////////////////// */
.section-information {
  gap: 0 28px;
  margin-bottom: 138px;
}

.section-information__left, .section-information__right {
  flex: 1;
  /* flex: 1 1 586px; */
  /*  flex-grow: 1;
        flex-basis: 586px; */
  min-height: 250px;
  background: #fbfbfb;
  padding-top: 37px;
  text-align: right;
}

.section-information__left-img, .section-information__right-img {
  flex: 1;
  position: relative;
  bottom: 50px;
}

.section-information__left-container-text, .section-information__right-container-text {
  flex: 1;
}

.section-information__left-h2, .section-information__right-h2 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  line-height: 133%;
  text-transform: uppercase;
  color: #3d3d3d;
  margin-bottom: 9px;
  margin-right: 30px;
}

.section-information__left-p, .section-information__right-p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 25px;
  margin-right: 30px;
}

.section-information__left-a, .section-information__right-a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  text-decoration: none;
  border-radius: 6px;
  background: #46a358;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #fff;
  padding: 10px 28px;
  text-align: right;
  margin-right: 30px;
}

.section-information__left-a img,
.section-information__right-a img {
  position: relative;
  top: 2px;
}

/* //////////////////////////////// section-blog ///////////////////////////////////////////// */
.section-blog {
  margin-bottom: 100px;
}

.section-blog > H2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 53%;
  text-align: center;
  color: #3d3d3d;
  margin-bottom: 15px;
}

.section-blog > H3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #727272;
  margin-bottom: 35px;
}

.section-blog__product {
  flex-basis: 268px;
  background: #fbfbfb;
  min-height: 362px;
}

.section-blog__product img {
  width: 100%;
  min-height: 195px;
  margin-bottom: 9px;
}

.section-blog__product-a {
  text-decoration: none;
}

.section-blog__product-a span {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #46a358;
  margin-bottom: 4px;
}

.section-blog__product-a h3 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #3d3d3d;
  margin-bottom: 4px;
}

.section-blog__product-a p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
}

.section-blog__product-a-a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #3d3d3d;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.section-blog__product-a-a svg {
  margin-left: 3px;
}

.section-blog__product-a-a:hover {
  color: #46a358;
}

.section-blog__product-a-a:hover svg path {
  fill: #46a358;
}

.section-blog__product-a-conteiner {
  padding-left: 13px;
  padding-right: 13px;
}

/* //////////////////////////////// section-footer ///////////////////////////////////////////// */
.section-footer__container-advertising-info {
  padding: 30px 25px 25px 25px;
  background: #fbfbfb;
  min-height: 250px;
}

.section-footer__advertising-info {
  position: relative;
  flex-basis: 204px;
}

.section-footer__advertising-info a {
  text-decoration: none;
}

.section-footer__advertising-info img {
  margin-bottom: 17px;
}

.section-footer__advertising-info h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 17px;
  line-height: 94%;
  color: #3d3d3d;
  margin-bottom: 9px;
}

.section-footer__advertising-info p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #727272;
}

.section-footer__advertising-info:nth-child(-n+2)::before {
  content: '';
  position: absolute;
  width: 187px;
  height: 1px;
  background: rgba(70, 163, 88, 0.1);
  transform: rotate(90deg);
  top: 102px;
  right: -118px;
}

.section-footer__emailform {
  flex-basis: 354px;
  padding-top: 30px;
}

.section-footer__emailform > h2 {
  text-align: left;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 18px;
}

.section-footer__emailform > p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 169%;
  color: #727272;
}

.section-footer__emailform-input-email {
  border: none;
  border-radius: 6px 0 0 6px;
  background: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 12px 11px 12px 11px;
}

.section-footer__emailform-btn {
  border: none;
  border-radius: 0 6px 6px 0;
  background: #46a358;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #fff;
  padding: 12px 25px 12px 26px;
}

.section-footer__emailform-form {
  margin-bottom: 17px;
}

.section-footer__contact {
  border: none;
  /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.25); */
  background: linear-gradient(to right, #aaffbe 0%, #60e077 100%);
}

.section-footer__contact address {
  min-height: 88px;
  padding-left: 23px;
}

.section-footer__contact a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #3d3d3d;
}

.section-footer__contact address a:first-child {
  margin-right: 116px;
}

.section-footer__contact address span {
  position: relative;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #3d3d3d;
  margin-right: 90px;
}

.section-footer__contact address a:nth-child(3) {
  position: relative;
  margin-right: 101px;
}

.section-footer__contact address a:nth-child(4) {
  position: relative;
}

.section-footer__contact address span::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/section-footer__contact-adres.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 12px;
  right: 172px;
}

.section-footer__contact address a:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/section-footer__contact-email.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 2px;
  right: 169px;
}

.section-footer__contact address a:nth-child(4)::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/section-footer__contact-tel.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 2px;
  right: 118px;
}

.section-footer__links {
  background: #fbfbfb;
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
  min-height: 236px;
  gap: 170px;
  padding-left: 23px;
  padding-top: 33px;
  margin-bottom: 7px;
}

.section-footer__links-block > li:first-child {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 8px;
}

.section-footer__links-block li a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
  text-decoration: none;
}

.section-footer__links-block-socialmedia {
  display: inline-flex;
  gap: 10px;
  margin-bottom: 33px;
}

.section-footer__links-block-socialmedia li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(70, 163, 88, 0.2);
  border-radius: 4px;
  text-decoration: none;
  min-width: 30px;
  min-height: 30px;
}

.section-footer__links-block-socialmedia-we-accept {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 89%;
  color: #3d3d3d;
  margin-bottom: 13px;
}

.section-footer__copyright {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 214%;
  color: #3d3d3d;
}

/*///////////////////////////////////////////// registration preloader //////////////////////////////////////////*/
/* /////////   preloader   ///////// */
.registration-container {
  animation: showDiv 3s forwards;
}

@keyframes showDiv {
  0%,
  99% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: showDiv2 3s forwards;
}

.loader {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/20%;
  background: linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
  animation: l4 2s infinite steps(6);
}

@keyframes l4 {
  100% {
    background-size: 120%;
  }
}

@keyframes showDiv2 {
  0%,
  99% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*///////////////////////////////////////////// registration //////////////////////////////////////////*/
.registration-container {
  max-width: 500px;
  border: solid 1px silver;
  padding: 52px 100px 50px;
  border-bottom: solid 10px #46a358;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-container__h1 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 80%;
  color: #3d3d3d;
  margin-bottom: 40px;
}

.registration-container__h1-span {
  color: #46a358;
}

.registration-container__text-help {
  font-weight: 400;
  font-size: 13px;
  line-height: 123%;
  color: #3d3d3d;
  margin-bottom: 14px;
}

.registration-container__input-name {
  margin-bottom: 16px;
}

.registration-container__input-email {
  margin-bottom: 16px;
}

.registration-container__input-password {
  margin-bottom: 16px;
}

.registration-container__input-password-confirm {
  margin-bottom: 41px;
}

.registration-container__button {
  width: 100%;
  text-align: center;
  border-radius: 5px;
  height: 45px;
  background: #46a358;
  margin-bottom: 36px;
  color: #fff;
  border: none;
}

.registration-container__text-messenger {
  margin-bottom: 27px;
  text-align: center;
}

.registration-container__google {
  margin-bottom: 15px;
}

.registration-container__facebook {
  margin-bottom: 50px;
}

.input-style {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding: 12px 14px;
}

.registration__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 123%;
  text-align: center;
  color: #727272;
  padding: 10px 0;
  text-decoration: none;
}

/* ////////////////////////////////////////   #accordion     //////////////////////////////////////////// */
#accordion {
  display: none;
}

/* ////////////////////////////////////////   #accordion     //////////////////////////////////////////// */
/* ////////////////////////////////////////   bool     //////////////////////////////////////////// */
/* bool {
    width: 70px;
    height: 70px;
    background-color: yellow;
    position: absolute;
    left: 0px;
    z-index: 3;

}

.bool-2 {
    width: 70px;
    height: 70px;
    background-color: red;
    position: absolute;
    left: 70px;
    z-index: 3;

}

.bool-3 {
    width: 70px;
    height: 70px;
    background-color: blue;
    position: absolute;
    left: 140px;
    z-index: 3;
} */
/* @keyframes bool {
    0% {
         
         transform: translateX(0);
    }
    25% {
        
        transform: translateX(-17.5px);
    }
    50% {
        transform: translateX(-35px);
    }
    75% {
         transform: translateX(-52.5px);
    }
    100% {
        transform: translateX(-70px);
        
    }
    
} */
/* 
.bool {
    animation: bool 5s infinite;
}
 */
