* {
    box-sizing: border-box;
}
/* ////////////////////          FONTS                   ////////////////////////// */
:root {
  --font-family: "Cera Pro", sans-serif;
  --second-family: "Hanging Letters", sans-serif;
}
@font-face {
    font-family: 'hanging_lettersregular';
    src: url('../fonts/hanged_letters-webfont.eot');
    src: url('../fonts/hanged_letters-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hanged_letters-webfont.woff2') format('woff2'),
         url('../fonts/hanged_letters-webfont.woff') format('woff'),
         url('../fonts/hanged_letters-webfont.ttf') format('truetype'),
         url('../fonts/hanged_letters-webfont.svg#hanging_lettersregular') format('svg');
    font-weight: normal; /* regular,400 */
    font-style: normal;

}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400; /* normal,regular,400 */
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;/* bold */
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.eot');
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;/* black */
    font-style: normal;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: local('Cera Pro Light'), local('CeraPro-Light'),
        url('../fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Light.woff') format('woff'),
        url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;/* Light */
    font-style: normal;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.d-flex{
    display: flex;
}
.align-items{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.justify-content_sp-bn{
    justify-content: space-between;
}
.justify-content_and{
    justify-content: flex-end;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
/* //////////////////////    section-header    //////////////////////////////////////////////////////////////// */
header{
    padding-top:25px;
}
.container {
    max-width:1200px;
    margin:auto;
}

header nav ul{
    list-style-type: none;
}
header nav > ul > li{
    display:inline-block;
    /* display:inline; */
    /* Основное отличие данного свойства по сравнению с display: inline заключается в том, что inline-block позволяет 
    установить ширину и высоту элемента. Кроме того, свойство display: inline не учитывает верхние и нижние поля и отступы, 
    в то время как display: inline-block учитывает их. */
    margin-right: 10px;
    min-width: 80px;
    text-align: center;
    
}
header nav > ul > li::after{
    display: block;
    width: 100%;
    height: 3px;
    content: "";
}
header nav ul li:hover::after{
   background-color: #46a358;
   font-weight: 700;
}
header nav ul li a:hover{
   font-weight: 700;
}

header nav ul li:last-child{
    margin-right: 0px;
}
header nav li a{
    font-family: var(--font-family, sans-serif);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}
.section-header{
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 12px;
    min-height: 53px;
}
.section-header__login  {
    font-family: var(--font-family, sans-serif);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    gap:4px;
    border-radius: 6px;
    background: #46a358;
    padding: 8px 17px;
}
/*///////// dropdown v1 /////////////////////*/
/* .section-header nav ul li.dropdown{
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-align: left;
}
.section-header nav ul li ul.submenu li{
    background: #edf6ee;
    padding: 7px 14px;
}
.section-header nav ul li ul.submenu li:hover{
    background: #1a712a;
}
.section-header nav ul li ul.submenu li:hover  a{
    font-weight: 700;
    color:white;
}
.section-header nav ul li ul.submenu{
    min-width: 188px;
    position: absolute;
    top:49px;
    left: -55px; 
    overflow: hidden;
    height: 0;
    transition: 0.4s;
}
.section-header nav ul li.dropdown:hover .submenu{
    height: 143px;
}
 */

/* //////////////////// dropdown v2 /////////// */
.section-header .submenu{
    min-width: 188px;
    position: absolute;
    /* top: 48px; */
    top: 20px;
    left:-45px;
    background: #edf6ee;
    opacity: 0.88;
    text-align: left;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: transform .4s linear;
    visibility: hidden;
    opacity: 0; 
    
}
.section-header .submenu li{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-align: left;
    padding: 7px 14px;
}

.section-header .submenu li:hover{
    background: #1a712a;
}
.section-header .submenu li:hover > a{ /* сработает первое сабменю первого уровня вложености */
    font-weight: 700;
    color:white;
}
.section-header li{
    position: relative;
}
.submenu .submenu{
    min-width: 178px;
    position: absolute;
    top:-90px;
    left: 100%;
    transition: transform .4s linear;
}
.topmenu li:hover > .submenu{ /* сработает первое сабменю первого уровня вложености */
    /* opacity: 1; */
    visibility: visible;
    opacity: 0.88;
    transform: rotateX(0deg);

}
.topmenu li:hover > .submenu li:last-child::after { 
    content: url('../img/submenu-arrow-right.svg');
    display: inline-block;
}



/* //////////////////////    section-main-banner    //////////////////////////////////////////////////////////////// */
.section-main-banner{
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    margin-bottom: 26px;
}
.section-main-banner__left-text{
     padding: 68px 0 0 43px; 
}
.section-main-banner__h3{
    font-family: var(--font-family, sans-serif);
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 7px;
}
.section-main-banner__h1{
    font-family: var(--font-family, sans-serif);
    font-family: 'Cera Pro';
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 5px;
}
.section-main-banner__span{
    font-family: var(--font-family, sans-serif);
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #46a358;
}
.section-main-banner__p{
    font-family: var(--font-family, sans-serif);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
}
.section-main-banner__shop-now{
    font-family: var(--font-family, sans-serif);
    display: inline;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    background: #46a358;
    text-decoration: none;
    margin-bottom: 85px;
    padding: 10px 27px;
}
/* //////////////////////    section-product    //////////////////////////////////////////////////////////////// */
.section-product{
    margin-bottom: 146px;
}
.section-product__left-container{
    max-width: 310px;
}
.section-product__right-container{
    max-width: 840px;
}

/* /////////////////////// */
.section-product__categories{
    /* max-width: 310px; */
    /* min-height: 774px; */
    background: #fbfbfb;
    padding: 14px 24px 19px 18px;
}
.section-product__categories h2{
    font-family: var(--font-family, sans-serif);
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}
.section-product__categories li a{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    text-decoration: none;
}
.section-product__categories li a:hover{
    font-weight: 700;
    color: #46a358;
}
.section-product__categories ul:first-of-type{
    margin-bottom: 36px;
}
.section-product__categories ul:last-of-type{
    margin-bottom: 19px;
}
.section-product__categories-price-range{
    margin-bottom: 46px;
}
.section-product__categories-price-range h2{
    margin-bottom: 20px;
}
.section-product__categories-price-range input[type="range"]{
    margin-bottom: 15px;
}
.section-product__categories-price-range span{
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    margin-bottom: 16px;
}
.section-product__categories-price-range a{
    font-family: var(--font-family, sans-serif);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #fff;
    border-radius: 6px;
    background: #46a358;
    text-decoration: none;
    padding: 8px 26px;
}
/* ////////////////////// */
.section-product__sale-baner{
    min-height: 470px;
    background:  linear-gradient(180deg, rgba(70, 163, 88, 0.1) 0%, rgba(70, 163, 88, 0.03) 100%),url(../img/image-sale.png) no-repeat;
    background-position: center bottom;
    /* mix-blend-mode: multiply; */
    /* width:370px; 
    height:370px; */
}
.section-product__h2-sale{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 65px;
    line-height: 100%;
    color: #46a358;
}
.section-product__span-price-sale{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 23px;
    line-height: 70%;
    text-align: center;
    color: #3d3d3d;
}
/* /////////////////////////////// */
.section-product__conteiner-product-cards{
    gap: 70px 41px;
    margin-bottom: 90px;
}

.section-product__card{
    max-width: 258px;
    position: relative;
    overflow:hidden;
}
.section-product__card ul{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap:26px;
    bottom: -35px;
    transition: bottom 0.5s;
}
.section-product__card:hover ul{
    bottom:35px;
}

.section-product__discount{
    position: absolute;
    top: 14px;
    left: 0;
    display: inline-flex;
    background-color:#46a358;
    min-width: 80px;
    min-height: 29px;
    justify-content: center;
    align-items:center
}
.section-product__discount-h2{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}


.section-product__card-a{
    background: #fbfbfb; 
}
.section-product__card-a img{
    width: 100%;
}
.section-product__card-price-a{
    text-decoration: none;
}
.section-product__card-span-name{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    display: block;
    margin-bottom: 6px;
}
.section-product__card-span-price{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    margin-right: 16px;
}
.section-product__card-span-price-old{
     font-family: var(--font-family);
     font-weight: 400;
     font-size: 18px;
     line-height: 89%;
     color: #a5a5a5;
     text-decoration: line-through;
}

/* .section-product__product-cards a{
    display: inline-block;
    max-width: 258px;
    min-height: 300px;
    background: #fbfbfb;
}
.section-product__product-cards a img{
   width: 100%;
} */
/* mix-blend-mode: multiply; */

/* /////////////// pagination ///////////////////// */
.section-product__pagination-nav li{
    margin-right: 10px;
    
}
.section-product__pagination-nav  li:last-child{
    margin-right: 0px;
}
.section-product__pagination-nav li a{
    display: inline-flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    min-width: 35px;
    min-height: 35px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    background: #46a358; 
}
/* //////////////////////////////// section-information ///////////////////////////////////////////// */
.section-information{
    gap:0 28px;
}

.section-information__left, .section-information__right{
    flex:1 1 586px;
   /*  flex-grow: 1;
    flex-basis: 586px; */
    min-height: 250px;
    background: #fbfbfb; 
    padding-top: 37px;
    text-align: right;
}
.section-information__left-img, .section-information__right-img{
   float: left;  
   position: relative;
   bottom: 50px ;
}
.section-information__left-h2,.section-information__right-h2{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    color: #3d3d3d;
    margin-bottom: 9px;
    margin-right: 30px;
}
.section-information__left-p,.section-information__right-p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 25px;
    margin-right: 30px;
}
.section-information__left-a,.section-information__right-a{
    display: inline-flex;
    align-items:center;
    justify-content: center;
    gap: 2px;
    text-decoration: none;
    border-radius: 6px;
    background: #46a358;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    padding: 10px 28px;
    text-align: right;
    margin-right: 30px;
}
.section-information__left-a img,.section-information__right-a img{
    position: relative;
    top: 2px;
}














   /*  background-image: url(../img/banner-right-picture.png);
    /* background-position: center;
    background-size: cover; */
   /*  background-position: center;
    background-size: cover;
    position: relative;  */
    /* background: url(../img/banner-right-picture.png) no-repeat fixed; */
   /*  background: url(../img/banner-right-picture.png) no-repeat;
    max-width: 518px;
    min-height: 470px; */
   /*  background-size: cover;
    background-position: center; */






/*//////////////// registration ////////////////////////*/
.registration-container {
    max-width: 500px;
    border: solid 1px silver;
    margin: auto;
    padding: 52px 100px 50px;
    border-bottom: solid 10px #46a358;
}
.registration-container__h1 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    margin-bottom: 40px;
}
.registration-container__h1-span {
    color: #46a358;
}
.registration-container__text-help {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}
.input-style{
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
}
.registration-container__input-name {
    margin-bottom: 16px;
}
.registration-container__input-email{
    margin-bottom: 16px;
}
.registration-container__input-password{    
    margin-bottom: 16px;
}
.registration-container__input-password-confirm{
    margin-bottom: 41px;
}
.registration-container__button {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    height: 45px;
    background: #46a358;
    margin-bottom: 36px;
    color: #fff;
    border: none;
}
.registration-container__text-messenger{
    margin-bottom: 27px;
    text-align: center;
}
.registration__link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    text-align: center;
    color: #727272;
    padding: 10px 0;
    text-decoration: none;
}
.registration-container__google{
    margin-bottom: 15px;
}
.registration-container__facebook{
    margin-bottom: 50px;
}